html {
    background-image: url("https://wallpaperaccess.com/full/514884.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.project {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 16px;
    border-radius: 16px;
    max-width: 512px;
    min-width: 416px;
    width: 60%;
    margin: 64px;
    font-size: large;
    text-align: center;
    flex-direction: column;
    flex-basis: 256px 256px;
}

.title {
    color: white;
    margin: auto;
    font-size: larger;
    text-align: center;
    flex-basis: 256px 256px;
}

.about {
    color: white;
    padding: 16px;
    margin: auto;
    width: 384px;
    text-align: center;
}

.divDrop {
    width: 96px;
    margin: auto;
}

.divDrop:hover .menuDrop {
    display: block;
}

.btnDrop {
    width: inherit;
}

.menuDrop {
    width: inherit;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.20);
}

.menuDrop a {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-decoration: wavy;
    display: block;
    padding: 16px;
    z-index: 1;
}

.menuDrop a:hover {
    background-color: rgba(0, 0, 0, 0.5)
}
